# Compiled object files
*.o
*.obj
*.lo
*.d

# Compiled binary executables
*.exe
*.out
*.app
bin/
# Debug and Release folders
Debug/
Release/

# CMake build directories
CMakeFiles/
CMakeCache.txt
build/

# CodeBlocks workspace files
*.cbp
*.depend
*.layout

# Qt project files
*.pro.user
*.moc
moc_*

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# CLion files
.idea/
*.iml

# VS Code files
.vscode/
# Logs and temporary files
*.log
*.tmp

# Package manager files
.vcpkg/
conanbuildinfo.txt
conanbuildinfo.cmake
conanbuildinfo.json

# Doxygen
doc/Doxygen
